<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
</head>
<script>
    var emailAuthKey;
    var phoneAuthKey;
    var isEmailAuth = false;
    var isPhoneAuth = false;

    async function get(path, headers = {}){
        const url = path;
        const options = {
            method: "GET",
            headers: {
                "Content-Type": "application/json",
                ...headers,
            },
        };
        const res = await fetch(url, options);
        const data = await res.json();
        if(res.ok){
            return data;
        } else {
            throw Error(data);
        }
    }

    async function post(path, body, headers = {}){
        const url = path;
        const options = {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
                ...headers,
            },
            body: JSON.stringify(body),
        };
        const res = await fetch(url, options);
        const data = await res.json();
        if(res.ok){
            return data;
        } else {
            throw Error(data);
        }
    }

    function emailAuth(e) {
        const buttonParent = e.parentElement;
        const parent = document.getElementById("emailAuthForm");
        const authInput = document.createElement("input");
        const authButton = document.createElement("button");
        const email = document.getElementById("email").value;
        if(email.length < 8){
            alert("이메일을 확인해주세요");
        } else {
            buttonParent.removeChild(e);

            authInput.setAttribute("type", "text");
            authInput.setAttribute("id", "emailAuthText");
            authInput.setAttribute("placeholder", "인증번호 입력");
            parent.appendChild(authInput);

            authButton.setAttribute("type", "button");
            authButton.setAttribute("onclick", "emailAuthAction()");
            authButton.innerHTML = "인증";
            parent.appendChild(authButton);

            //임시 인증 키
            // emailAuthKey = "4231";

            //이메일 인증 키 받는 API 호출
            get("/api/member/email?email="+email, {})
                .then((data) => {
                    emailAuthKey = data.authKey;
                })
                .catch((error) => {
                    console.log(error);
                });
        }
    }

    function emailAuthAction(){
        const inputKey = document.getElementById("emailAuthText");
        const emailInput = document.getElementById("email");
        emailInput.setAttribute("readOnly", "true");
        if(emailAuthKey == inputKey.value){
            alert("인증되었습니다.");
            isEmailAuth = true;
        } else {
            alert("인증 번호를 정확히 입력해주세요");
            inputKey.value = "";
        }
    }

    function phoneAuth(e){
        const buttonParent = e.parentElement;
        const parent = document.getElementById("phoneAuthForm");
        const authInput = document.createElement("input");
        const authButton = document.createElement("button");
        const phoneNumber = document.getElementById("phoneNumber").value;
        if(phoneNumber.length < 11){
            alert("전화번호를 확인해주세요");
        } else {
            buttonParent.removeChild(e);

            authInput.setAttribute("type", "text");
            authInput.setAttribute("id", "phoneAuthText");
            authInput.setAttribute("placeholder", "인증번호 입력");
            parent.appendChild(authInput);

            authButton.setAttribute("type", "button");
            authButton.setAttribute("onclick", "phoneAuthAction()");
            authButton.innerHTML = "인증";
            parent.appendChild(authButton);

            // phoneAuthKey = "1234"; //임시 인증키

            //휴대폰 인증 키 받는 API 호출(요금 문제로 닫아놓음)
            get("/api/member/phone?phoneNumber="+phoneNumber, {})
                .then((data) => {
                    phoneAuthKey = data.authKey;
                })
                .catch((error) => {
                    console.log(error);
                });
        }
    }

    function phoneAuthAction(){
        const inputKey = document.getElementById("phoneAuthText");
        const phoneNumberInput = document.getElementById("phoneNumber");
        phoneNumberInput.setAttribute("readOnly", "true");
        console.log("input:"+inputKey.value);
        console.log("authKey:"+phoneAuthKey);
        if(phoneAuthKey == inputKey.value){
            alert("인증되었습니다.");
            isPhoneAuth = true;
        } else {
            alert("인증 번호를 정확히 입력해주세요");
            inputKey.value = "";
        }
    }

    function signUpCheck(){
        if(isPhoneAuth==true && isEmailAuth==true){
            signUp();
        } else {
            alert("이메일 인증과 휴대폰 인증을 완료해주세요");
        }
        return false;
    }

    function signUp(){
        const signEmail = document.getElementById("email").value;
        const signPassword = document.getElementById("password").value;
        const signName = document.getElementById("name").value;
        const signNickName = document.getElementById("nickname").value;
        const signPhoneNumber = document.getElementById("phoneNumber").value;

        post("/api/member/new", {
            email: signEmail,
            password: signPassword,
            name: signName,
            nickname: signNickName,
            phoneNumber: signPhoneNumber,
        }).then((data) => {
            const userId = data.id;
            alert("회원가입이 완료되었습니다.");
            if(userId != null){
                location.replace("home.html");
            }
        }).catch((error) => {
            console.log(error);
            alert("회원가입에 실패했습니다.");
        });
    }

</script>
<body>
    <h1>회원가입</h1>
    <section class="signUp" id="board">
        <label for="email">이메일:</label>
        <input type="email" id="email" class="form-control" placeholder="email@test.com" required>
        <button type="button" onclick="emailAuth(this)">이메일 인증</button>
        <div id="emailAuthForm"></div><br>

        <label for="password">비밀번호:</label>
        <input type="password" id="password" class="form-control" required><br>

        <label for="name">이름:</label>
        <input type="text" id="name" class="form-control" required><br>

        <label for="nickname">닉네임:</label>
        <input type="text" id="nickname" class="form-control" required><br>

        <label for="phoneNumber">전화번호:</label>
        <input type="text" id="phoneNumber" class="form-control" placeholder="'-' 없이 적어주세요" required>
        <button type="button" onclick="phoneAuth(this)">인증</button>
        <div id="phoneAuthForm"></div><br>

        <button type="submit" onclick="return signUpCheck()">회원가입</button>
    </section>
</body>
</html>