<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>상품 검색</title>
</head>
<script>
    //onload function 으로 start 를 지정
    window.onload = start;
    var memberId;

    async function get(path, headers = {}){
        const url = path;
        const options = {
            method: "GET",
            headers: {
                "Content-Type": "application/json",
                ...headers,
            },
        };
        const res = await fetch(url, options);
        const data = await res.json();
        if(res.ok){
            return data;
        } else {
            throw Error(data);
        }
    }

    function start(){
        get("/api/sign/session", {})
            .then((data) => {
                //로그인상태인지 확인하는 매핑(로그인 시 nickname 반환, 아니면 "" 반환)
                const target = document.getElementById("nickname");
                target.innerHTML = data.nickname+" 님";
                memberId = data.memberId;
            })
            .catch((error) => {
                console.log(error);
            });
        //메인화면에서 검색으로 넘어온 값이 있는 지 확인, 이후에 검색 값을 보여줌
        var searchSelect;
        var searchValue;
        if(sessionStorage.getItem("searchValue") !== ""){
            const searchText = document.getElementById("searchText");
            const selectButton = document.getElementById("select");

            searchSelect = sessionStorage.getItem("searchSelect");
            searchValue = sessionStorage.getItem("searchValue");

            searchText.value = searchValue;
            selectButton.value = searchSelect;
        } else {
            searchSelect = "";
            searchValue = "";
        }
        sendSearchItem(searchSelect, searchValue);
    }

    function searchItem(){
        const searchSelect = document.getElementById("select").value;
        const searchValue = document.getElementById("searchText").value;

        sendSearchItem(searchSelect, searchValue);
        return false;
    }

    function sendSearchItem(select, value){
        var path;
        if(select === "title"){
            path = "/api/item/search/title?title="+encodeURIComponent(value);
        } else if(select === "category"){
            path = "/api/item/search/category?category="+encodeURIComponent(value);
        } else if(select === "dealArea"){
            path = "/api/item/search/dealarea?dealarea="+encodeURIComponent(value);
        } else {
            path = "/api/item/search";
        }
        get(path, {})
            .then((data) => {
                const container = document.getElementById("container");
                if(container.childElementCount !== 0){
                    const temp = document.getElementById("searchBoard");
                    container.removeChild(temp);
                }
                const board = document.createElement("container");
                board.setAttribute("id", "searchBoard");
                container.appendChild(board);
                if(data.length === 0){
                    const itemForm = document.createElement("form");
                    const text = document.createElement("p");
                    text.innerHTML = "상품이 없습니다.";
                    itemForm.appendChild(text);
                    board.appendChild(itemForm);
                }
                for(var i = 0; i < data.length ; i++){
                    //책 정보
                    const itemForm = document.createElement("form");

                    const itemId = document.createElement("p");
                    itemId.innerHTML = "itemId: "+data[i].id;
                    itemForm.appendChild(itemId);

                    const title = document.createElement("p");
                    title.innerHTML = "title: "+data[i].book.title;
                    itemForm.appendChild(title);

                    const publisher = document.createElement("p");
                    publisher.innerHTML = "publisher: "+data[i].book.publisher;
                    itemForm.appendChild(publisher);

                    const author = document.createElement("p");
                    author.innerHTML = "author: "+data[i].book.author;
                    itemForm.appendChild(author);

                    const category = document.createElement("p");
                    category.innerHTML = "category: "+data[i].book.category;
                    itemForm.appendChild(category);

                    //아이템 정보
                    const itemPrice = document.createElement("p");
                    itemPrice.innerHTML = "itemPrice: "+data[i].itemPrice;
                    itemForm.appendChild(itemPrice);

                    const condition = document.createElement("p");
                    condition.innerHTML = "condition: "+data[i].itemCondition;
                    itemForm.appendChild(condition);

                    const date = document.createElement("p");
                    date.innerHTML = "date: "+data[i].createDate[0]+"년 "
                        +data[i].createDate[1]+"월 " +data[i].createDate[2]+"일 "
                        +data[i].createDate[3]+"시 " +data[i].createDate[4]+"분 "
                        +data[i].createDate[5]+"초 ";
                    itemForm.appendChild(date);

                    const status = document.createElement("p");
                    status.innerHTML = "status: "+data[i].dealStatus;
                    itemForm.appendChild(status);

                    const dealArea = document.createElement("p");
                    dealArea.innerHTML = "dealArea: "+data[i].dealArea.first+", "+
                        data[i].dealArea.second;
                    itemForm.appendChild(dealArea);

                    const hit = document.createElement("p");
                    hit.innerHTML = "hit: "+data[i].hit;
                    itemForm.appendChild(hit);

                    const selectButton = document.createElement("button");
                    selectButton.setAttribute("type", "button");
                    selectButton.setAttribute("onclick", "selectItem(this)");
                    selectButton.innerHTML = "상품 보기";
                    itemForm.appendChild(selectButton);

                    const line = document.createElement("hr");
                    itemForm.appendChild(line);

                    board.appendChild(itemForm);
                }
            })
            .catch((error) => {
                console.log(error);
            });
    }

    function selectItem(e){
        const parent = e.parentElement;
        var temp = []
        temp = parent.childNodes[0].innerHTML.split(": ");
        const itemId = temp[1];
        sessionStorage.setItem("itemId", itemId);
        window.open("itemInfo.html", "_self");
    }

</script>
<body>
    <h1>판매중인 책 검색</h1>
    <p id="nickname"></p>
    <h3>검색 조건을 선택하고 검색하세요</h3>
    <select id="select">
        <option value="title">책 제목</option>
        <option value="category">카테고리</option>
        <option value="dealArea">주소</option>
    </select>
    <input type="text" id="searchText" name="title" placeholder="검색 값 입력">
    <button type="submit" onclick="return searchItem()">검색</button>
    <hr>

    <div id="container">

    </div>
</body>
</html>