<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원 정보</title>
</head>
<script>
    //onload function 으로 start 를 지정
    window.onload = start;
    var memberId;

    async function get(path, headers = {}){
        const url = path;
        const options = {
            method: "GET",
            headers: {
                "Content-Type": "application/json",
                ...headers,
            },
        };
        const res = await fetch(url, options);
        const data = await res.json();
        if(res.ok){
            return data;
        } else {
            throw Error(data);
        }
    }

    //onload function
    function start(){
        get("/session", {})
            .then((data) => {
                //로그인상태인지 확인하는 매핑(로그인 시 nickname 반환, 아니면 "" 반환)
                if(data.nickname != "" && data.memberId != null){
                    const target = document.getElementById("nickname");
                    target.innerHTML = data.nickname+" 님";
                    memberId = data.memberId;
                } else {
                    alert("로그인 후에 이용해주세요");
                    location.replace("/home.html");
                }
            })
            .catch((error) => {
                console.log(error);
            });
    }

    function updateMember(){

    }

    function deleteMember(){

    }

    function salesList(){

    }

</script>
<body>
    <h1>내 정보</h1>
    <section class="signUp">
        <form method="Post">
            <label for="email">이메일:</label>
            <span id="email"></span><br>

            <label for="name">이름:</label>
            <span id="name"></span><br>

            <label for="nickname">닉네임:</label>
            <span id="nickname"></span><br>

            <label for="phoneNumber">전화번호:</label>
            <span id="phoneNumber"></span><br>

            <button type="button" onclick="updateMember()">내 정보 수정</button>
            <button type="button" onclick="deleteMember()">회원탈퇴</button><br>
            <button type="button" onclick="salesList()">판매목록보기</button>
        </form>
    </section>
</body>
</html>