<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>내 판매 목록</title>
</head>
<script>
    //onload function 으로 start 를 지정
    window.onload = start;
    var memberId;

    async function get(path, headers = {}){
        const url = path;
        const options = {
            method: "GET",
            headers: {
                "Content-Type": "application/json",
                ...headers,
            },
        };
        const res = await fetch(url, options);
        const data = await res.json();
        if(res.ok){
            return data;
        } else {
            throw Error(data);
        }
    }

    //onload function
    function start(){
        get("/api/sign/session", {})
            .then((data) => {
                //로그인상태인지 확인하는 매핑(로그인 시 nickname 반환, 아니면 "" 반환)
                if(data.nickname != "" && data.memberId != null){
                    const target = document.getElementById("nickname");
                    target.innerHTML = data.nickname+" 님";
                    memberId = data.memberId;
                } else {
                    alert("로그인 후에 이용해주세요");
                    location.replace("/home.html");

                }
                get("/api/member/"+memberId+"/purchases", {})
                    .then((data) => {
                        const board = document.getElementById("container");
                        if(data.length === 0){
                            const PurchaseList = document.createElement("form");
                            const text = document.createElement("p");
                            text.innerHTML = "상품이 없습니다.";
                            PurchaseList.appendChild(text);
                            board.appendChild(PurchaseList);
                        }

                        for(var i = 0; i < data.length; i++){
                            const PurchaseList = document.createElement("form");
                            PurchaseList.setAttribute("id", "bookForm"+i.toString());

                            const itemId = document.createElement("p");
                            itemId.innerHTML = "itemId: "+data[i].id;
                            PurchaseList.appendChild(itemId);

                            const title = document.createElement("p");
                            title.innerHTML = "title: "+data[i].title;
                            PurchaseList.appendChild(title);

                            const price = document.createElement("p");
                            price.innerHTML = "price: "+data[i].price;
                            PurchaseList.appendChild(price);

                            const itemCondition = document.createElement("p");
                            itemCondition.innerHTML = "itemCondition: "+data[i].itemCondition;
                            PurchaseList.appendChild(itemCondition);

                            const hit = document.createElement("p");
                            hit.innerHTML = "hit: "+data[i].hit;
                            PurchaseList.appendChild(hit);

                            const dealArea = document.createElement("p");
                            dealArea.innerHTML = "dealArea: "+data[i].dealArea.first+", "+
                                data[i].dealArea.second;
                            PurchaseList.appendChild(dealArea);

                            const dealStatus = document.createElement("p");
                            dealStatus.innerHTML = "dealStatus: "+data[i].dealStatus;
                            PurchaseList.appendChild(dealStatus);

                            const date = document.createElement("p");
                            date.innerHTML = "date: "+data[i].createDate[0]+"년 "
                                +data[i].createDate[1]+"월 " +data[i].createDate[2]+"일 "
                                +data[i].createDate[3]+"시 " +data[i].createDate[4]+"분 "
                                +data[i].createDate[5]+"초 ";
                            PurchaseList.appendChild(date);

                            const selectButton = document.createElement("button");
                            selectButton.setAttribute("type", "button");
                            selectButton.setAttribute("onclick", "selectSale(this)");
                            selectButton.innerHTML = "판매 보기";
                            PurchaseList.appendChild(selectButton);

                            const line = document.createElement("hr");
                            PurchaseList.appendChild(line);

                            board.appendChild(PurchaseList);
                        }
                    })
                    .catch((error) => {
                        console.log(error);
                    });
            })
            .catch((error) => {
                console.log(error);
            });
    }
</script>
<body>
    <h1>구매 목록</h1>
    <p id="nickname"></p>
    <hr>
    <div id="container">

    </div>
</body>
</html>