<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>중고 서적 직거래(Ur's ur)</title>
</head>
<script>
    function signIn(){
        window.open("/users-used-book-store/users-used-book-store.main/templates/sign/sign.html");
    }
    function signUp(){
        window.open("/users-used-book-store/users-used-book-store.main/templates/member/new");
    }
</script>
<body>
    <h1>Ur's ur</h1>

    <section class="notice">
        <p>중고로 팔고 싶은 책,</p>
        <p>중고로 사고 싶은 책,</p>
        <p>원하는 곳 어디에서나 거래하세요!</p>
    </section>

    <section class="search">
        <input type="text" class="form-control" required>
        <span class="border"></span>
        <button type="submit">검색</button>
    </section>

    <section class="sign">
        <button type="button" onClick="signIn()">로그인</button>
        <button type="button" onClick="signUp()">회원가입</button>
    </section>
</body>
</html>